body {
    background: linear-gradient(#ff9900,rgb(17, 17, 17,0.9),rgb(17, 17, 17,0.9),rgb(17, 17, 17,0.9),#ff9900);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    min-height: 100vh;
    position: relative;

}
.creepster-regular {
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  



html::-webkit-scrollbar-thumb {
    background: #ff9900,;
}

html::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

html::webkit-scrollbar {
    width: 10px;
    height: 100px;
}

.navbar {
    background: linear-gradient(0.25turn,rgb(17, 17, 17));
    position: fixed; 
      

}

.navbar-nav-a {
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: normal;

}

.navbar-brand {
    margin-left: 3%;
}

.navbar-light .navbar-brand {
    color: rgb(17, 17, 17);
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: "Creepster", system-ui;
    font-style: normal;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(17, 17, 17);
    font-family: "Creepster", system-ui;
    font-style: normal;
    font-weight: bold;
    font-style: normal;
    font-size: 22px;

}

.navbar-nav {
    text-align: center;
}

.nav-link {
    padding: .2rem 1rem;
    position: relative;
    display: inline-block;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #915f15;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.w-100 {
    height: 100vh
}

@media only screen and (max-width:1000px) {
    .navbar-nav.ms-auto {
        background: rgb(17, 17, 17, 0.5);
        max-width: 100%;


    }

    .navbar-toggler {
        padding: 1px 5px;
        font-size: 18px;
        line-height: 0.3;
        background: #915f15;

    }
}


/* start of intro*/

  
.glow {
    font-size: 4.8rem; /* Large font size */
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: normal;
    text-shadow: 
        0 0 5px #ffcc00, 
        0 0 10px rgb(65,17,95),
        0 0 15px #ffcc00,
        0 0 20px rgb(65,17,95),
        0 0 30px #ff9900,
        0 0 40px rgb(65,17,95),
        0 0 50px #ff9900;
    animation: glowing 1.5s infinite alternate;
}

@keyframes glowing {
    from {
        text-shadow: 
            0 0 5px #ffcc00,
            0 0 10px rgb(65,17,95),
            0 0 15px #ffcc00,
            0 0 20px rgb(65,17,95),
            0 0 30px #ff9900,
            0 0 40px rgb(65,17,95),
            0 0 50px #ff9900;
    }
    to {
        text-shadow: 
            0 0 10px #ffcc00,
            0 0 20px #ffcc00,
            0 0 30px #ffcc00,
            0 0 40px #ff9900,
            0 0 50px #ff9900,
            0 0 60px #ff9900,
            0 0 70px #ff9900;
    }
}
/* end of intro*/

.toggle-button {
    box-shadow: 10px 5px 3px rgba(26, 26, 42, 0.4);
    font-size: 1.2rem;
    background-color: rgb(17, 17, 17, 0.9);
    color: #ff9900;
    font-family: "Creepster", system-ui;
}

.toggle-button:hover {
    background-color: #915f15;
    color: rgb(17, 17, 17, 0.9);
    font-family: "Creepster", system-ui;
}

.description {
    display: none; 
    text-align: center; 
  
    margin-top: 20px;
    font-family: "Creepster", system-ui;
    color: #ff9900;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    color: #ff9900;
    font-family: "Creepster", system-ui;
  
}

.image-container {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px; 
}

.trunk-image {
    width: 100%;
    transition: transform 0.3s ease;
}

.trunk-image:hover {
    transform: scale(1.05);
}

.img-description {
    display: none; /* Initially hidden */
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #ff9900;
    padding: 10px;
    width: 90%;
    font-family: "Creepster", system-ui;
}

.image-container:hover .img-description {
    opacity: 1; /* Show on hover */
}

.image-container {
    margin-bottom: 20px; 
}

.event-heading {
    cursor: pointer;
    background-color:black;
    color:white;
    padding: 10px;
    margin: 5px 0;
}

.event-details {
    display: none;
    padding: 10px;
    background-color: #ff9900;
    margin-bottom: 10px;
}
.trunk-image-event {
    width: 200px;  
    height: auto;  
    max-width: 100%; 
}

.text-center{
    color: #ff9900;
    font-family: "Creepster", system-ui;
}
p{
    font-family: "Creepster", system-ui;
}
.event-heading{
    font-family: "Creepster", system-ui;
}

/*  color pallete: 
dark black: RGB (17,17,17)
orange: RGB (255,178,139)
purple: RGB(65,17,95)
white
dark orange: RGB (165,77,91)
black

*/