body {
    background: linear-gradient(rgb(255, 178, 139),rgb(17, 17, 17,0.9),rgb(17, 17, 17,0.9),rgb(255, 178, 139));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    min-height: 100vh;
    position: relative;

}
.creepster-regular {
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  



html::-webkit-scrollbar-thumb {
    background: rgb(255, 178, 139);
}

html::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

html::webkit-scrollbar {
    width: 10px;
    height: 100px;
}

.navbar {
    background: linear-gradient(0.25turn,rgb(17, 17, 17));
    position: fixed;

}

.navbar-nav-a {
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: normal;

}

.navbar-brand {
    margin-left: 3%;
}

.navbar-light .navbar-brand {
    color: rgb(17, 17, 17);
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: "Creepster", system-ui;
    font-style: normal;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(17, 17, 17);
    font-family: "Creepster", system-ui;
    font-style: normal;
    font-weight: bold;
    font-style: normal;
    font-size: 22px;

}

.navbar-nav {
    text-align: center;
}

.nav-link {
    padding: .2rem 1rem;
    position: relative;
    display: inline-block;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgba(242, 189, 194, 0.8);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.w-100 {
    height: 100vh
}

@media only screen and (max-width:1000px) {
    .navbar-nav.ms-auto {
        background: rgb(17, 17, 17, 0.5);
        max-width: 100%;


    }

    .navbar-toggler {
        padding: 1px 5px;
        font-size: 18px;
        line-height: 0.3;
        background: rgb(255, 178, 139);

    }
}


/* start of intro*/

  
.glow {
    font-size: 6rem; /* Large font size */
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: normal;
    text-shadow: 
        0 0 5px #ffcc00, /* Golden glow */
        0 0 10px rgb(65,17,95),
        0 0 15px #ffcc00,
        0 0 20px rgb(65,17,95),
        0 0 30px #ff9900,
        0 0 40px rgb(65,17,95),
        0 0 50px #ff9900;
    animation: glowing 1.5s infinite alternate;
}

@keyframes glowing {
    from {
        text-shadow: 
            0 0 5px #ffcc00,
            0 0 10px rgb(65,17,95),
            0 0 15px #ffcc00,
            0 0 20px rgb(65,17,95),
            0 0 30px #ff9900,
            0 0 40px rgb(65,17,95),
            0 0 50px #ff9900;
    }
    to {
        text-shadow: 
            0 0 10px #ffcc00,
            0 0 20px #ffcc00,
            0 0 30px #ffcc00,
            0 0 40px #ff9900,
            0 0 50px #ff9900,
            0 0 60px #ff9900,
            0 0 70px #ff9900;
    }
}
/* end of intro*/

.btn {
    box-shadow: 10px 5px 3px rgba(26, 26, 42, 0.4);
    font-size: 1.5rem;
    background-color: rgb(17, 17, 17,0.9);
    color: #ff9900;
    font-family: "Creepster", system-ui;
 
}

.btn:hover{

    background-color: #915f15;
    color:rgb(17, 17, 17,0.9);
    font-family: "Creepster", system-ui;
}

/*  color pallete: 
dark black: RGB (17,17,17)
orange: RGB (255,178,139)
purple: RGB(65,17,95)
white
dark orange: RGB (165,77,91)
black

*/